.body {
  color: white;
  padding: 30px;
  flex: 1;
  height: calc(100vh - 135px);
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
  margin-left: 250px;
  position: fixed;
width: 100%;
overflow-y: scroll;
}
.body::-webkit-scrollbar {
  display: none;
}
.body_info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}
.body_infotext {
  flex: 1;
}

.body_icons {
  display: flex;
  align-items: center;
}

.body_icons > .MuiSvgIcon-root {
  margin-right: 20px;
}

.body_shuffle {
  font-size: 80px !important;
  margin-left: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.body_shuffle:hover {
  transition: 100 ms transform ease-in;
  transform: scale(1.08);
}

.body_infotext > h2 {
  font-size: 48px;
  margin-bottom: 10px;
}
.body_infotext > p {
  font-size: 14px;
}
.body_img {
  height: 20vw;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.7);
}
