.sidebaroption {
  align-items: center;
  display: flex;
  color: grey;
  height: 40px;
  cursor: pointer;
  transition: 200ms color ease-in;
}
.sidebaroption:hover {
  color: white;
}
.sidebaroption_icon {
  padding-left: 10px;
  padding-right: 10px;
}

.sidebaroption > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}
